<!DOCTYPE html>
<html th:replace="~{template/layoutExtend/layoutFile :: layout(~{::title},
~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!--
        이 코드는 Thymeleaf를 사용하여 레이아웃을 확장하는 예제입니다.
        "template/layoutExtend/layoutFile"이라는 레이아웃 파일에서 "layout" 템플릿 프래그먼트를 호출하고 있습니다.

        title:
        - 현재 페이지의 타이틀을 "메인 페이지 타이틀"로 정적으로 설정합니다.

        section:
        - 현재 페이지의 컨텐츠 섹션을 정의합니다.
    -->
    <title>메인 페이지 타이틀</title>
</head>
<body>
<section>
    <!--
        현재 페이지의 컨텐츠를 정의합니다.
    -->
    <p>메인 페이지 컨텐츠</p>
    <div>메인 페이지 포함 내용</div>
</section>
</body>
</html>